@page "/inventories"

@inject NavigationManager NavigationManager


<h3>InventoryList</h3>
<br />
<SearchInventoryComponent
    OnSearchInventory="OnInventorySearch"    
></SearchInventoryComponent>

@* pass the SearchTerm in to this component by parameter(property) *@
<InventoryListComponent
    SearchTerm="@searchTerm"> @* when rerendered will pass the searchTerm *@
</InventoryListComponent>
<br />

<button
    type="button"
    class="btn btn-primary"
    @onclick="AddInventory"
>
    Add Inventory
</button>



@code {
    private string searchTerm = string.Empty;

    // when trigger the page will rerendered
    private void OnInventorySearch(string searchTerm) // event handler
    {
        this.searchTerm = searchTerm;
    }

    private void AddInventory()
    {
        // navigate to AddInventory page
        NavigationManager.NavigateTo("/addinventory");
    }
}
